.navbar {
	position: fixed;
	width: 100%;
	margin-left: 0;
	z-index: 10000;
	border-bottom-left-radius: $global-radius;
	//box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.navbar-toggler {
	border: 0;
}

.top-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sign-in-btn {
	//background-image: $btn-gradient;
	border: $btn-border;
	font-weight: 700;
	color: $dat-grey;
}


