.navbar {
	position: fixed;
	width: 100%;
	transition: all .5s ease;
	margin-left: 0;
	z-index: 10000;
	border-bottom: $btn-border;
	border-left: $btn-border;
	border-bottom-left-radius: $global-radius;
	background-color: $bg-color;
	//box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.navbar-toggler {
	border: 0;
	font-size: 2.5rem;
}

.navbar-toggler:focus {
	outline: 0;
}

.top-wrapper {
	flex-basis: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sign-in-btn {
	//background-image: $btn-gradient;
	border: $btn-border;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: $global-radius;
	border-top-right-radius: $global-radius;
	font-weight: 700;
	color: $dat-grey;
}

.desktop-nav-item {
	display: none;
}

.dropdown {
	//margin-right: 6rem;
}

.dropdown-menu {
	padding: 1rem;
	border: $btn-border;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: $global-radius;
	border-top-right-radius: $global-radius;
}

.dropdown-menu > li > a {
	color: $dat-grey;
	font-weight: 700;
}

//media queries

@media (min-width: 992px) {
	.top-wrapper {
		flex-basis: 70%;
	}

	.navbar-collapse {
		flex-basis: 30%;
	}

	.navbar-nav {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
	}

	.desktop-nav-item {
		display: list-item;
	}

	.mobile-nav-item {
		display: none;
	}

	.glyphicon-home {
		font-size: 3rem;
	}

}










