<%= form_with(url: '/users/update_color', method: 'patch') do %>
	<div class="user-color">
	  <%= label_tag(:color) %>
	  <%= color_field_tag :color, value = current_user.color %>
	  <div class="post-form-buttons">
		<%= submit_tag "Save Changes", class: "color-button" %>
	  </div>
	</div>
	
<% end %>