.post-form {
	background-color: rgba(255,255,255,0.5);
	border-bottom-left-radius: 1rem;
	border-top-right-radius: 1rem;
	//box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	padding: 1rem;
}

.post-form-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
}


input[type="file"] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.styling {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.color-pickers {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.picker {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 .4rem;
}

input[type="color"] {
	border: 0;
	width: 5rem;
	height: 5rem;
	background-color: rgba(0,0,0,0);
}

.upload-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.upload-photo {
	font-weight: bold;
	margin-bottom: .5rem;
	font-size: 2rem;

}

.file-label {
    color: white;
	background-image: linear-gradient(to bottom right, #0025b8, #798ddb);
    width: 5rem;
    height: 5rem;
    display: inline-block;
	font-size: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.share-button {
	margin: 0!important;
}

.text-input-div {
	position: relative;
}

.text-input {
	border: $btn-border;
	background-color: rgba(255,255,255,0);
	color: $dat-grey;
	font-size: 17px;
	font-weight: 700;
}

.text-input:focus {
	outline: none;
	background-color: rgba(255,255,255,0);
	
}

#x-button {
	background-image: image-url('x-icon');
	width: 2.5rem;
	height: 2.5rem;
	background-size: cover;
	position: absolute;
	top: .7rem;
	right: 1rem;
	border: 0;
	background-color: rgba(0,0,0,0);
	display: none;
}