<div class="post_wrapper">
	<div class="card">
		<%= image_tag post.image, class: "card-img-top" if post.image.attached? %>
	
		<div class="card-body">
			<%= post.content %>
		</div>
		
		<span class="timestamp">
			posted <%= time_ago_in_words(post.created_at) %> ago.
		</span>
	</div>
</div>