<footer class="footer">
	<span>site built and designed by <em>Jaron Armiger</em></span>
	<span><em>jaron.armiger@gmail.com</em></span>
	<small>icons by <a href="https://www.glyphicons.com/"><em>glyphicons</em></a></small>
</footer>