<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <div class="dummy"></div>
      <% if !flash.empty? %>
        <% flash.each do |msg_type, msg| %>
          <%= content_tag(:div, msg, class: "alert alert-#{msg_type}") %>
        <% end %>
      <% end %>
      
      
      <%= yield %>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
