<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <div class="dummy"></div>
      <% if !flash.empty? %>
        <% flash.each do |msg_type, msg| %>
          <%= content_tag(:div, msg, class: "alert alert-#{msg_type}") %>
        <% end %>
      <% end %>
      
      
      <%= yield %>
    </div>



    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
  </body>
</html>
